/* HELPERS */


/* MISC */
.full-screen {
    width: 100vw;
    height: 100vh;
}
.align-item-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.d-flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.overflow-hidden {
    overflow: hidden;
}
.z-1 {
    z-index: 1;
}